*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.gros{
    font-size: 1.5rem;
    font-weight: bold;
}

.petit{
    color: rgb(159, 146, 128);
}

a{
    text-decoration: none;
}

body{
    background-color: #E2D9C8;
    margin: 6rem;

}

.top{
    display: grid;
    background-image: url(images/coffee-after-before-hair-transplant.png);
    background-size: cover;
    background-position: center;
}

.top .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
   
    
}


.top .nav .topg a{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.lien{
    padding: 10px;
 
}

.top .nav .lien a{
    color: gray;
    font-size: 1.5em;
    padding-right: 2rem;
    

}

.loupe{
    height: 2rem;
   
}


.welcome{
    padding: 10rem;
    display: grid;
    gap: 20px;
}

.top .welcome p {
  font-size: 3em;
color: white;
}

.top .welcome h1 {
  font-size: 3em;
  color: white;
}

.top .welcome a {
  color: black;
  padding: 15px 30px;
  border-radius: 9999px;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
  width: fit-content;
}


.entre{
    padding: 1% 15%;
    flex-wrap: wrap;
    margin: 3rem;

}

.choix{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    
    
}

.choix a{
    color: black;
}



.main{
    background-color: rgb(243, 240, 240);
    display: grid;
    object-fit: contain;
    
    padding: 2rem;
}

.main h2{
    text-align: center;
    padding: 10vh 10vh 2vh 10vh;
}

.fleche{
    height: 5vh;
    
}


.haut{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.haut div{
    background-color: #fcf9f3;
    
    object-fit: contain;
    text-align: center;
    height: fit-content;
     width: 20rem;
     padding: 1rem;
     border-radius: 5% ;
     box-shadow: 5px 5px 5px 5px rgb(229, 218, 183);
     
}


.haut div img{
    object-fit: contain;
    width: 100%;
}

.haut div button{
    padding: 0.7rem 2rem;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: large;
}

.bas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bas div{
    background-color: #fcf9f3;
    
    object-fit: contain;
    text-align: center;
    height: fit-content;
     width: 20rem;
     padding: 1rem;
     border-radius: 5% ;
     box-shadow: 5px 5px 5px 5px rgb(229, 218, 183);
}


.bas div img{
    object-fit: contain;
    width: 100%;
}

.bas div button{
    padding: 0.7rem 2rem;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: large;
}

.pub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d9d1c2;
}

.pub img{
    height: 50vh;
    width: fit-content;
}

.pub p{
    font-size: 4rem;
    font-weight: bold;
}

.pub a{
    color: white;
    background-color: rgb(80, 47, 47);
    padding: 15px 30px;
    width: fit-content;
    border-radius: 4rem;
    
}

.pub .explore{
    display: grid;
    gap: 3rem;
}


.avis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 240, 240);
}

.avis p{
    font-size: 2rem;
    font-style: italic;
    padding: 20px;
    font-family: "Meow Script", cursive;
}

.avis h3{
    font-size: 3rem;

}

.avis .notes{
    display: flex;
    justify-content: space-around;
   
}

.notes img{
    width: 30%;
   
}

.avis div{
    padding: 20px;
}

.bouton1{
    display: flex;

}

.bouton1 button{
    padding: 1rem;
    background-color: black;
    border-radius: 100%;

}

.news{
    display: flex;
}

.join{
    display: flex;
    flex: 1;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    object-fit: contain;
    
}

.join .sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.promo{
    text-align: center;
    object-fit: contain;

}

.promo h4{
    padding: 20px;
}

.promo p{
    font-size: 1.2rem;
}

.join .b1{
    background-color: white;
    color: black;
    padding: 1rem 20rem 1rem 2rem;
    border-radius: 50px;
    text-align: start;

}


.join .b2{
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    border-radius: 50px;
}

.news img{
       height: 35vh;
    width: fit-content;
}


.all{
    display: flex;
    justify-content: space-around;
    background-color: rgb(46, 34, 25);
    padding: 3rem 0px
}

.all div{
    display: flex;
    flex-direction: column;
}

.all div p{
    color: white;

}

.blanc{
    color: white;
}

.all div a{
    color: gray;
    padding: 1rem 0rem;
    
}

.all div img{
    width: fit-content;
    height: 3rem;
    padding: 2px;
}

.groscoffee{
     font-size: 2rem;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    body{
        margin: 0%;
    }
    .welcome{
    padding: 5rem;
    display: grid;
}

.main{
    padding: 0;
    
}

.fleche{
    display: none;
}

.haut .c2{
    display: none;
}

.haut .c3{
    display: none;
}
.haut .c4{
    display: none;
}


.bas .c6{
    display: none;
}
.bas .c7{
    display: none;
}
.bas .c8{
    display: none;
}

.pub img{
    display: none;
}

.pub{
    text-align: center;
    
}

.pub a{
    width: auto;
}

.news img{
    display: none;
}

}

